@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import "tailwindcss";

@theme {
  --color-background: #f1f0eb;
  --color-foreground: #000000;

  /* graphing paper background */
  /* --image-grid: radial-gradient(#000 1px, transparent 0); */

  --yellow-main: #FACC00;
  --yellow-bg: #FDF7C4;
  --teal-main: #00D6BD;
  --teal-bg: #CCFAF2;
  --orange-main: #FF7A05;
  --lime-main: #8AE500;
  --white-warm: #F1F0EB;
  --violet-main: #A985FF;
  --fuschia-main: #E96BFF;
  --sky-main: #0099FF;

  --font-dm: "DM Sans", sans-serif;
  --font-barlow: "Barlow Condensed", sans-serif;
  --font-public: "Public Sans", sans-serif;
  --font-space: "Space Grotesk", sans-serif;
  --font-inter: "Inter", sans-serif;
}

@layer base {

  /* grid background for aesthetics */
  .bg-grid {
    background-size: 40px 40px;
    background-image:
      linear-gradient(to right, rgba(0,0,0,0.05) 1px, transparent 1px),
      linear-gradient(to bottom, rgba(0,0,0,0.05) 1px, transparent 1px);
  }
  html{
    scroll-behavior: smooth;
  }

  body {
    background-color: var(--color-background);
    background-color: var(--color-background);

    /* dot dot background like graphing paper */
    /* background-image: radial-gradient(rgba(0,0,0,0.15) 1px, transparent 0);
    background-size: 24px 24px;
    background-attachment: fixed; */

    color: var(--color-foreground);
    font-family: 'DM Sans', sans-serif;
  }
}

