@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@layer base {
  * {
    @apply border-border outline-ring/50;
  }

  /* dotted uwu */
  .bg-dotted {
    border-top:solid 1px rgba(0,0,0,0.15);
    background-image: radial-gradient(rgba(0,0,0,0.15) 1px, transparent 0);
    background-size: 24px 24px;
  }

  /* grid rawrr */
   .bg-grid {
    background-size: 36px 36px;
    background-image:
      linear-gradient(to right, rgba(0, 0, 0, 0.07) 1px, transparent 1px),
      linear-gradient(to bottom, rgba(0,0,0,0.07) 1px, transparent 1px);
  }

  html {
    scroll-behavior: smooth;
  }

  body {
    @apply text-foreground font-dm bg-background;
  }

  h1, h2, h3, h4, h5, h6 {
    @apply font-heading;
  }
}

@theme inline {
  --font-dm: "DM Sans", sans-serif;
  --font-barlow: "Barlow Condensed", sans-serif;
  --font-public: "Public Sans", sans-serif;
  --font-space: "Space Grotesk", sans-serif;
  --font-inter: "Inter", sans-serif;

  --color-main: var(--main);
  --color-background: var(--background);
  --color-secondary-background: var(--secondary-background);
  --color-foreground: var(--foreground);
  --color-main-foreground: var(--main-foreground);
  --color-border: var(--border);
  --color-overlay: var(--overlay);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);

  /* neobrutalism.dev colors */
  --color-yellow-main: #FACC00;
  --color-yellow-bg: #FDF7C4;
  --color-teal-main: #00D6BD;
  --color-teal-bg: #CCFAF2;
  --color-orange-main: #FF7A05;
  --color-lime-main: #8AE500;
  --color-white-warm: #F1F0EB;
  --color-violet-main: #A985FF;
  --color-fuschia-main: #E96BFF;
  --color-sky-main: #0099FF;
  --color-rose-main: #FF6678;

  --font-base: var(--font-dm);
  --font-heading: var(--font-barlow);
  
  --spacing-boxShadowX: 4px;
  --spacing-boxShadowY: 4px;
  --spacing-reverseBoxShadowX: -4px;
  --spacing-reverseBoxShadowY: -4px;
  --radius-base: 10px;
  --shadow-shadow: var(--shadow);
  --font-weight-base: 600;
  --font-weight-heading: 900;

  --animate-spin-slow: spin 24s linear infinite;

  --animate-marquee: marquee 24s linear infinite;
  --animate-marquee2: marquee2 24s linear infinite;

  @keyframes marquee {
    0% {
      transform: translateX(0%);
    }
    100% {
      transform: translateX(-100%);
    }
  }

  @keyframes marquee2 {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(0%);
    }
  }

  @keyframes spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
  }
}

:root {
  --background: #F1F0EB; 
  --secondary-background: oklch(100% 0 0);
  --foreground: oklch(0% 0 0);
  --main-foreground: oklch(0% 0 0);
  --main: #FACC00; 
  --border: oklch(0% 0 0);
  --ring: oklch(0% 0 0);
  --overlay: oklch(0% 0 0 / 0.8);
  --shadow: 4px 4px 0px 0px var(--border);
  --chart-1: #FF6678;
  --chart-2: #7A83FF;
  --chart-3: #FACC00;
  --chart-4: #00D696;
  --chart-5: #5294FF;
  --chart-active-dot: #000;
}

.dark {
  --background: oklch(25.15% 0.0495 7.54);
  --secondary-background: oklch(23.93% 0 0);
  --foreground: oklch(92.49% 0 0);
  --main-foreground: oklch(0% 0 0);
  --main: oklch(67.58% 0.2135 18.63);
  --border: oklch(0% 0 0);
  --ring: oklch(100% 0 0);
  --shadow: 4px 4px 0px 0px var(--border);
  --chart-1: #FF4D61;
  --chart-2: #7A83FF;
  --chart-3: #E0B700;
  --chart-4: #00BD84;
  --chart-5: #5294FF;
  --chart-active-dot: #fff;
}

@keyframes scroll {
  0% { transform: translateX(0); }
  100% { transform: translateX(-100%); }
}

@keyframes scroll-y {
  0% { transform: translateY(0); }
  100% { transform: translateY(-100%); }
}

.animate-scroll {
  animation-name: scroll;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.animate-scroll-y {
  animation-name: scroll-y;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}